*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.options-container{
    height: 4rem;
    width: 4rem;
    background-color: #f1f2f6;
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tools-container{
    display: flex;
    height: 5rem;
    width: 55vw;
    background-color: #f1f2f6;
    justify-content: space-around;
    position: absolute;
    top: 2rem;
    left: 25vw;
    /* border-radius: 2rem; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tools-container > *{
    display: block;
    width: 4rem;
}

.scale-tools{
    animation-name: scale-tools;
    animation-duration: 1s;
}
@keyframes scale-tools{
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}

/* Style Pencil and its Adjusters  */
.pencil-tool-adjuster{
    background-color: #f1f2f6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 5rem;
    width: 7rem;
    position: absolute;
    top: 7rem;
    left: 25vw;
    border-radius: 3px;
    display: none;
}

.pencil-width-adjuster{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pencil-width-adjuster input{
    width: 80%;
}

.pencil-color-adjuster{
    height: calc(100% - 2rem);
    display: flex;
    justify-content: center; /* For Horizontal center*/ 
    align-items: center; /* For Vertical center*/ 
    gap: 1rem;
}
.pencil-color{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
}

.black{
    background-color: black;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}


/* Style Eraser and its Adjuster */
.eraser-tool-adjuster{
    background-color: #f1f2f6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 2rem;
    width: 7rem;
    position: absolute;
    top: 7rem;
    left: 33vw;
    border-radius: 3px;
    display: none;
    justify-content: center;
    align-items: center;
}
.eraser-tool-adjuster input{
    width: 80%;
}


/* Styling Sticky Notes */
.sticky-container{
    height: 15rem;
    width: 15rem;
    position: absolute;
    top: 15rem;
    left: 10rem;
}

.header-container{
    height: 2rem;
    background-color: #f1f2f6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-container > *{
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 0.5rem;
    border-radius: 50%;
}

.minimize{
    background-color: #2ed573;
}

.remove{
    background-color: #ff4757;
}

.note-container{
    height: calc(100% - 2rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

textarea{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}

img { 
    height: 100%;
    width: 100%;
}

.MadeByGaurav{
    display: flex;
    justify-content: center;
    align-items:baseline;
    font-family: 'Otomanopee One', sans-serif;
}